*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
header{
    overflow: hidden;
    height: 100px;
    position: fixed;
    width: 100%;
    background: #FFFFFF;
    transition: all 500ms ease;
    z-index: 101;
}
#header-content{
    height: 100px;
}
#menu{
    margin: 32px 32px 0 32px ;
    width: 30px;
    height: 30px;
    cursor: pointer;

}
#menu-mask{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 102;
}
#menu-list{
    width: 0;
    text-overflow: clip;
    overflow: hidden;
    position: fixed;
    font-size: 15px;
    border: 0;
    z-index: 103;
    height: 100%;
    top: 0;
    min-height: 100%;
    background: #292929;
    transition: all 0.3s ease;
}

#menu-list .nav-top,.nav-top a{
    color:#b89f7a;
}
.nav-top{
    border-bottom: 1px solid #525252;
    padding: 10px 0;

}
#menu-list li{
    width: 240px;
    line-height: 1.8;
    padding: 10px 15px;
    cursor: pointer;

}
.nav-bottom{
    padding-top: 10px;
}
.nav-bottom,.nav-bottom a{
    color: #FFFFFF;
}
.nav-bottom span{
    display: inline;
    margin-top: 10px;
    float: right;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
#menu-list .menu-new{
    padding: 0;
    display: none;
}
#menu-list .menu-new li{
    text-indent: 0;
    color: #aaaaaa;
    padding: 5px 15px 5px 25px;
}
#menu input{
    outline-style: none;
}

header span{
    font-size: 16px;
}
#menu span{
    display: block;
    width: 30px;
    text-align: center;
    font-size: 12px;
}
#sidebarIcoImage{
    width: 73px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#sidebarIcoImage img{
    width: 73px;

}
#reg{
    display: block;
    width: 82px;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-135%,-50%);
}
#reg a{
    color: #b89f7a;
    font-weight: bold;
    font-size: 14px;

}
figure img{
    display: block;
    width: 100%;
    /*height: 100%;*/
    cursor: pointer;
}
figure .figure-img2{
    display: none;
}
#shop{
    background: #0F0F0F;
    height: 220px;
    color: #ffffff;
    display: flex;

}
#reward-wrapper{
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 220px;
    position: relative;


}
#reward-mark{
    float: left;
    width: 350px;
    height: 220px;
    overflow: hidden;
    background: url("../_themes/starbucks/img/home/rewards_bg.png") no-repeat;
    background-size: contain;
    flex-grow: 1;
}
#reward-mask{
    position: absolute;
    top: 80px;
    left: 105px;
    font-size: 18px;



}
#reward-mark span{
    display: block;

}
#reward-mask img{
    width: 160px;
    height: 38px;
}
#mask2{
    margin-left: 30px;
    width: 430px;
    height: 220px;
    /*background: #ff0000;*/
    float:left;

}
#mask2 h3{
    font-size: 26px;
    margin: 50px 0 0 0;
    color: #ffffff;
    font-weight: 400;


}
#mask2 button{
    border: 2px solid #a98e67;
    padding: 14px 40px;
    color: #a98e67;
    background: transparent;
    margin: 15px 20px 0 0;
    font-weight: 700;
    cursor:pointer;

}
#mask2 a{
    color: #b89f7a;
}
#app{
    padding-top: 5px;
    overflow: hidden;
    width:100%;
    height: 220px;
    background:url('../_themes/starbucks/img/home/app_bg.gif') repeat scroll center;
    position: relative;
}
.container{
    padding:  0 15px;
    margin: 0 auto;
    width: 1170px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    display: flex;
    text-align: center;

}
#app-device{
    flex: 0 0 350px;
    height: 200px;
    margin-top: 20px;
    background: url(../_themes/starbucks/img/home/app_device.png)  center bottom no-repeat;
    background-size: contain;

}
#app-download{
    display: flex;
    flex-direction: column;
    flex:0 0 150px;
    margin: 0 30px 0 60px;
    text-align: left;
}
#app-download img{
    flex: 0 0 130px;
    width: 130px;
}
#app-download-button{
    display: flex;
    margin-top: 4px;
 }
#app-download-button img{
    margin-top: -20px;
    float: left;
}
.app-store{
    visibility: hidden;
}
.android,#app-download-button span{
    background: #ff0000;
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}
.content{
    flex:0 0 450px;
    margin-top: 65px;
    text-align: left;
}
.content p{
    line-height: 28px;
    color: #3d3d3d;
    font-size: 25px;
    width : 100%;
}

.content a {
    display: block;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: #b89f7a;
}
#app-download-button span{
    font-size: 12px;
    background: transparent;
    width: 60px;
}
#cake{
    width: 100%;
}
.pc-cake{
    max-width: 100%;
    display: block;
}
.mobile-cake{
    display: none;
    max-width: 100%;
    /*这里要加max-width 防止图片被放大*/
}
#coffee{
    width: 100%;
    display: flex;
    overflow: hidden;

}

#coffee img{
    width: 100%;
    max-width: 100%;
    display: block;

}
#coffee-left,#coffee-right{
    width: 50%;
    flex-grow:1;
    position: relative;

}

.coffee-content{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 10px;
    margin-bottom: 10px;
}
.coffee-content h3{
    font-weight: 900;
    font-size: 12px;
    text-transform: uppercase;
    color: #a98e67;
    letter-spacing: 3px;
}
.coffee-content h2{
    letter-spacing: normal;
    font-size: 28px;
    font-weight: 400;
    color: #fffffe;
    text-transform: none;
}
#wsg{
    clear:both;
    background: #106e4b;
}
#wsg-container{
    padding: 35px 0;
    width: 767px;
    margin: 0 auto;
    display: flex;
}

.wsg-container-box{
    flex-grow: 1;
    width: 50%;
    height: 150px;
    display: flex;
    overflow: hidden;
    /*border: 1px solid;*/
}

.wsg-container-box img{
    display: block;
    margin:0 25px 0 20px;
    height: auto;
    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translate(0,-50%);*/
}
#wsg-img1,#wsg-img4{
    width: 50%;
    padding:  25px 0;


}
#wsg-img2,#wsg-img3{
    margin-top: 15px ;
    display: block;
    width: 30%;
    height: 110px;
}
#watch{
    width: 100%;
    height: 220px;
    display: flex;
    background: url(../_themes/starbucks/img/app-watch/web-bg.png);
}
#watch-img{
    flex-grow: 7;
    width: 408px;
    height: 220px;
    background: url(../_themes/starbucks/img/app-watch/web-iwatch-cn.png) right no-repeat;

}
#watch .content{
    margin-top: 35px;
    width: 360px;
    flex-grow: inherit;
    padding:0 60px 20px 60px;
}
#watch .content a{
    font-size: 14px;
}
#watch .content p {
    font-size: 18px;
    font-weight: 400;
}
#watch-down{
    flex-grow: 6;
    padding: 40px 0 0 10px;


}
#watch-down-img{
    width: 130px;
    height: 130px;
    background: url(../_themes/starbucks/img/home/app_qr_20170209.png) center no-repeat ;
    background-size: cover;

}
#watch-down span{
    font-weight: 700;
    display: block;
    width: 130px;
    text-align: center;
}
#watch-down-button{
    display: none;
    clear:both;
    width: 188px;
    height: 75px;
    margin: 0 auto;
    background: url(../_themes/starbucks/img/app-watch/udp-starbucks-cn.svg)
}




@media (max-width: 1066px ){
    #watch-img{
        min-width: 300px;
        max-width: 414px;
        height: 338px;
        margin: 0 auto;
        background: url(../_themes/starbucks/img/app-watch/mobile-iwatch-cn.png) center/contain no-repeat;
    }
    #watch{
        display: block;
        width: 100%;
        height: 630px;
        text-align: center;
        background: url(../_themes/starbucks/img/app-watch/mobile-bg.png) repeat-x;
    }
    #watch .content{
        text-align: center;
        width: 100%;
        font-size: 18px;
        padding: 0 31px;
    }
    #watch-down{
        display: none;
    }
    #watch-down-button{
        display: block;
    }
}

/*@media (max-width: 1196px ) {*/
    /*.container{*/
        /*width: 970px;*/
    /*}}*/

@media (max-width: 990px){
    figure .figure-img1{
        display: none;
    }
    figure .figure-img2{
        display: block;
    }
    /*.container{*/
        /*width: 750px;*/
    /*}*/
}
