<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{msg}}
        <div v-if="isLogin">111</div>
        <div v-else="isLogin">222</div>
        <div v-if="type==='A'">A</div>
        <div v-else-if="type==='B'">B</div>
        <div v-else="type==='C'">C</div>
        
    </div>
    <script src="vue.js"></script>
    <script>
        let vm = new Vue({
            el:"#app",
            data:{
                msg:"helloworld",
                isLogin:false,
                type:'a'
            }
        });
    </script>
</body>
</html>